<html>
<head>
  <meta charset="utf-8" />
  <!-- 1. 스크립트 추가 -->
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/toss_payments/style.css}"/>
</head>
<script>
  const clientKey = 'test_ck_d26DlbXAaV0eaqLkoDbrqY50Q9RB' // 테스트용 클라이언트 키
  const customerKey = 'test_sk_YyZqmkKeP8gQWd5OeyYVbQRxB9lG' // 내 상점에서 고객을 구분하기 위해 발급한 고객의 고유 ID

  // 2. 결제위젯 SDK 초기화
  const paymentWidget = PaymentWidget(clientKey, customerKey) // 회원 결제

  const paymentMethodsWidget = paymentWidget.renderPaymentMethods(
      '#payment-method',
      {
        value: 10000,
        currency: 'KRW',
        country: 'KR',
      },
      { variantKey: 'widgetA' }
  )

  paymentWidget.requestPayment({
    amount: 15000,
    orderId: 'pU6cYjx6KSGadqOQeYDAf',
    orderName: '토스 티셔츠 외 2건',
    // 테스트에서는 성공, 실패 페이지가 없어도 URL에서 쿼리 파라미터를 확인할 수 있어요.
    successUrl: 'http://localhost:8080/success', // 성공 리다이렉트 URL
    failUrl: 'http://localhost:8080/fail', // 실패 리다이렉트 URL
  })
  // 결제창을 띄울수 없는 에러가 발생하면 리다이렉트 URL로 에러를 받을 수 없어요.
  .catch(function (error) {
    if (error.code === 'INVALID_ORDER_NAME') {
      // 유효하지 않은 'orderName' 처리하기
    } else if (error.code === 'INVALID_ORDER_ID') {
      // 유효하지 않은 'orderId' 처리하기
    }
  })

  /*약관 영역 렌더링*/
  // const paymentAgreement = paymentWidget.renderAgreement('#agreement')

  // const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS) // 비회원 결제
</script>
</html>